@import "_mixins.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;

  &--responsive {
    display: block;

    @include ForTablet{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 16px;


      &--tablet {
        @for $start from 1 through 12 {
          @for $end from $start through 12 {
            &--#{$start}-#{$end} {
              grid-column: #{$start} / #{$end + 1};
            }
          }
        }
      }
    }

    @include ForDesktop{
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      column-gap: 16px;

      &--desktop {
        @for $start from 1 through 24 {
          @for $end from $start through 24 {
            &--#{$start}-#{$end} {
              grid-column: #{$start} / #{$end + 1};
            }
          }
        }
      }
    }
  }
}
