@import './slider.scss';
@import "../../../styles/main";

.banner {
  &__title {
    font-family: 'Mont-Bold', sans-serif;
    font-size: 32px;
    line-height: 41px;
    font-weight: 800;
    letter-spacing: -0.01em;
    color: #0F0F11;

    width: 288px;

    @include ForMobile{
      margin: 0 0 24px 16px;
    }

    @include ForTablet{
      margin: 0 0 32px 0;
      font-size: 48px;
      line-height: 56px;

      width: 500px;
    }

    @include ForDesktop{
      margin: 0 0 56px 0;

      width: 100%;
    }
  }


  &__image {
    display: block;
    object-fit: cover;

    @include ForMobile{
      & {
        content:url("../../../images/banner.jpg");
      }
    }

    @include ForTablet{
      border-radius: 8px;

      & {
        content:url("../../../images/banner-tablet.jpg");
      }
    }

    @include ForDesktop{
      & {
        content:url("../../../images/banner-desktop.jpg");
      }
    }
  }
}


