@import "../../../styles/mixins";

.slick {
  @include ForTablet {
    &-prev,
    &-next{
      font-size: 0;
      line-height: 0;

      position: absolute;
      top: 50%;

      display: block;

      height: 100%;

      width: 32px;

      border: 1px solid #B4BDC4;
      border-radius: 48px;
      padding: 14px;

      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);

      cursor: pointer;

      transition: border .3s;


      color: transparent;
      outline: none;
      background: transparent;

      &:hover {
        border: 1px solid #0F0F11;
      }
    }

    &-prev {
      left: -39px;
      position: absolute;
      z-index: 1;

      &::after {
        content: '';
        display: block;
        width: 6px;
        height: 10px;
        background-image: url("../../../images/prev-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }

    &-next {
      right: -39px;

      &::before {
        content: '';
        display: block;
        width: 6px;
        height: 10px;
        background-image: url("../../../images/next-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &-dot {
    background: #E2E6E9;
    transition: opacity .3s, background .3s;

    &:hover {
      background: #0F0F11;
      opacity: .3;
    }
  }

  &-dots {
    position: absolute;

    display: block;

    width: 100%;
    padding: 18px 0 0 0;
    margin: 0;

    list-style: none;

    text-align: center;

    & li {
      position: relative;

      display: inline-block;

      margin-right: 14px;


      cursor: pointer;

      & button {
        font-size: 0;
        line-height: 0;

        display: block;

        width: 20px;
        height: 20px;

        cursor: pointer;

        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
      }
    }


  }

  &-active {
    .slick-dot {
      background: #0F0F11;
    }
  }

  &-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  &-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
  }
  &-list:focus {
    outline: none;
  }

  &-slider &-track,
  &-slider &-list {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &-track:before,
  &-track:after {
    display: table;

    content: '';
  }
  &-track:after
  {
    clear: both;
  }
  &-loading &-track
  {
    visibility: hidden;
  }

  &-slide
  {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
  }
  [dir='rtl'] &-slide
  {
    float: right;
  }
  &-slide img
  {
    display: block;
  }
  &-slide &-loading img
  {
    display: none;
  }
  &-slide.dragging img
  {
    pointer-events: none;
  }
  &-initialized &-slide
  {
    display: block;
  }
  &-loading &-slide
  {
    visibility: hidden;
  }
  &-vertical &-slide
  {
    display: block;

    height: auto;

    border: 1px solid transparent;
  }
  &-arrow &-hidden {
    display: none;
  }
}
